.a {
    height: 100px;
    width: 100px;
    background: red;
    animation: anim_a 4s infinite;
}

@keyframes anim_a {
    0%, 100% {
        background: red;
    }

    50% {
        background: yellow;
    }
}

.blok {
    width: 100px;
    height: 100px;
    background: red;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    animation: anim_b 4s infinite;

}

.blok_b {
    width: 10px;
    height: 10px;
    background: yellow;
    animation: anim_bb 4s infinite;
}

@keyframes anim_b {
    25% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
        background: yellow;
    }

    75% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
        background: red;
    }
}

@keyframes anim_bb {
    25% {
        transform: scale(10);
    }

    50% {
        transform: scale(1);
        background: red;

    }

    75% {
        transform: scale(10);
    }

    100% {
        transform: scale(1);
        background: yellow;
    }
}